
.formy
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;

} 


.cintri
{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}